name: Kandy Traffic Monitor

on:
  schedule:
    - cron: "*/30 * * * *" # run every 30 minutes
  workflow_dispatch:

jobs:
  traffic:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright
          playwright install

      - name: Run Kandy Traffic Monitor
        run: |
          python main.py
